$header-background-color: #e5e5e5;
$card-background-color: #e5e5e5;
$settings-background-color: #e5e5e5;
$btn-background-color: #2f80ed;
$input-background-color: #efefef;
$title-color: #4f4f4f;
$btn-text-color: #ffffff;
$settings-text-color: #929292;
$btn-shadow-color: #2f80ed;
$btn-sort-color: #2f80ed;
