header {
  width: 100%;
  background-color: #e5e5e5;
}

.search-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 570px;
  height: 80px;

  &__play-icon-img {
    margin-right: 15px;
  }

  &__search-video {
    width: 396px;
    height: 24px;
    border: none;
    background-color: #efefef;
  }

  &__search-btn {
    width: 80px;
    height: 24px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 1s;

    background-color: #2f80ed;
    border-radius: 0px 4px 4px 0px;

    &:hover {
      box-shadow: 1px 0px 5px 0px #2f80ed;
    }
  }

  &__setting-button {
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #2f80ed;
  }
}
