header {
  width: 100%;
  height: 80px;
  background-color: $header-background-color;
}

.search-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 570px;
  height: 100%;

  &__play-icon-img {
    margin-right: 15px;
  }

  &__search-video {
    width: 396px;
    height: 24px;
    border: none;
    background-color: $input-background-color;
  }

  &__search-btn {
    width: 80px;
    height: 24px;
    border: none;
    color: $btn-text-color;
    cursor: pointer;
    transition: 1s;

    background-color: $btn-background-color;
    border-radius: 0px 4px 4px 0px;

    &:hover {
      box-shadow: 1px 0px 5px 0px $btn-shadow-color;
    }
  }

  &__setting-button {
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    background-color: $btn-background-color;
  }
}
