.settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e5e5e5;

  &__text {
    color: #929292;
  }

  &__sorting-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &__sorting-btn {
      cursor: pointer;
      color: #2f80ed;
      margin-left: 21px;
      text-decoration: underline;

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  &__search-sort {
    width: 149px;
    height: 13px;
    border: none;
  }
}
