@import '../../../../../mixins.scss';

main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0 151px;
}

.card {
  width: 263px;
  height: 327px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: $card-background-color;
  margin: 31px 14.5px 0 14.5px;

  &__video-poster {
    width: 223px;
    height: 123px;
    margin-top: 20px;
  }

  &__video-characteristics {
    width: 202px;
    height: 13px;
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      font-size: 10px;
      font-weight: bold;
    }
  }

  &__title {
    width: 223px;
    height: 30px;
    margin-top: 21px;
    font-size: 20px;
    color: $title-color;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }

  &__btn-more {
    width: 120px;
    height: 32px;
    color: $btn-text-color;
    background-color: $btn-background-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 51px;
    transition: 0.5s;

    &:hover {
      filter: drop-shadow(2px 0px 4px $btn-shadow-color);
    }
  }
}
